<h1><%= @machine.location %> Vending Machine</h1>

<h3>Snacks</h3>
<% @machine.snacks.each do |snack| %>
  <%= "#{snack.name} - $#{snack.price}" %>
<% end %>

Average Price: $<%= @machine.average_price.round(2) %>
